@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	font-family: 'Roboto', sans-serif;
}

.grid_container{
	display: grid;
	grid-template:
	"header header"        100px
	"section-a section-a"   500px
	"section-b section-b"   1000px
	"footer footer" 		  100px
	;
}



/*HEADER*//*HEADER*//*HEADER*//*HEADER*/

.header{
	grid-area: header;
	background-color: #ecc963;
}

.futurismo{
	text-decoration: none;
	margin-left: 5%;
	margin-top: 15px;
	float: left;
	color: #000000;
	font-size: 28px;
}



.futurismo:hover{
	color: #f0d482;
	transition: .3s;
}

.botonera{
	width: 720px;
	float: right;
	margin-top: 40px;
	background-color: #ecc963;
}

.botonera li {
	display: inline-block;
	position: relative;
}

.botonera li a {
	font-size: 16px;
	text-decoration: none;
	color: #000;
	margin-right: 15px;
}

.botonera li a:hover {
	color: #f0d482;
	transition: .3s;
}

.submenu{
	position: absolute;
	width: 220px;
	height: 120px;
	display: none;
	background-color: #debc5b;
	padding-top: 10%;
	padding-left: 20%;
	z-index: 1000;
	position: absolute;
}

.submenu li{
	margin-top: 1%;
}



.botonera li:hover .submenu{
display: block;	
}


.cajadeescribir{
	background-color: #f0d482;
	padding: 0px;
     font-size: 14px;
     border-width: 0px;
     border-color: #adadad;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 4px;
     box-shadow: 0px 0px 10px rgba(66,66,66,.76);
     padding: 5px;
     width: 140px
}

 .cajadeescribir:focus {
     outline:none;
}

.btn {
  background: #f0d482;
  background-image: -webkit-linear-gradient(top, #f0d482, #c4ad6f);
  background-image: -moz-linear-gradient(top, #f0d482, #c4ad6f);
  background-image: -ms-linear-gradient(top, #f0d482, #c4ad6f);
  background-image: -o-linear-gradient(top, #f0d482, #c4ad6f);
  background-image: linear-gradient(to bottom, #f0d482, #c4ad6f);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  -webkit-box-shadow: 0px 1px 10px #666666;
  -moz-box-shadow: 0px 1px 10px #666666;
  box-shadow: 0px 1px 10px #666666;
  color: #ffffff;
  font-size: 10px;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #a38e53;
  background-image: -webkit-linear-gradient(top, #a38e53, #6b6041);
  background-image: -moz-linear-gradient(top, #a38e53, #6b6041);
  background-image: -ms-linear-gradient(top, #a38e53, #6b6041);
  background-image: -o-linear-gradient(top, #a38e53, #6b6041);
  background-image: linear-gradient(to bottom, #a38e53, #6b6041);
  text-decoration: none;
}






/*SECTION*//*SECTION*//*SECTION*//*SECTION*/

.section-a{
	grid-area: section-a;
	background-color: #e1d3d2;
}

.section-bi{
	grid-area: section-b;
	background-color: #e1d3d2;
}

.container{
	width: 80%;
	position: absolute;
}


.contenedor{
	width: 100%;
	margin: auto;
}

#slider{
	width: 1349px;
	height: 500px;
	background-image: url("../img/s2.png");
	animation: slider 60s infinite;
}

@keyframes slider{
	to {
		background-position: 2000px;
	}
}

.iap1{
	width: 200px;
	float: left;
	margin-left: 14%;
	margin-top: 5%;
}

.border-radiusIP{
		outline: 5px solid #ecc963;
	-moz-border-radius: 20px 20px 20px 20px;
	box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

.border-radiusIT{
	margin-top: 4%;
}

.slide-in-right{animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1s both}
@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

.slide-in-fwd-center{animation:slide-in-fwd-center .5s cubic-bezier(.25,.46,.45,.94) 1s both}
@keyframes slide-in-fwd-center{0%{transform:translateZ(-1400px);opacity:0}100%{transform:translateZ(0);opacity:1}}

.slide-in-left{animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1s both}
@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

.footer{
	grid-area: footer;
	background-color: #1d2b2c;
}

.logoup{
	margin-right: 5%;
	margin-top: 1%;
	float: right;
}

.nombreAH{
	margin-top: 3%;
	margin-left: 5%;
	float: left;
	color: #ffffff;
}

.h1i{
	margin-left: 10%;
	margin-top: 4%;
	font-size: 36px;
}

.h1i2{
	margin-left: 10%;
	margin-top: 6%;
	font-size: 36px;
}















/*Historia*//*Historia*//*Historia*//*Historia*//*Historia*//*Historia*//*Historia*//*Historia*/

.grid-historia{
	display: grid;
	grid-template:
	"header header"     100px
	"section-a aside-h"   1100px
	"footer footer" 		100px /
	auto 500px
}

.ich{
	float: left;
	margin-left: 60px;
	margin-top: 11px;
}
.h2h{
	margin-left: 10%;
	margin-top: 12%;
	font-size: 36px;
}

.ph{
	margin-left: 10%;
	margin-top: 3%;
	font-size: 24px;
	padding-right: 10%;
}

.aside-h{
	grid-area: aside-h;
	background-color: #e1d3d2;
}

.ich2{
	float: left;
	margin-left: 60px;
	margin-top: 2%;
}

.hp1{
	margin-top: 20%;
	margin-left: 10%;
	width: 	400px;
}

.border-radiusHP{
		border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 5px 0px rgba(0,0,0,0.75);
}

.border-radiusHT{
	margin-top: 2%;
	font-size: 16px;
}

.hp2{
	margin-top: 20%;
	margin-left: 13%;
	width: 	400px;
}

.fadein{animation:fade-in 3s cubic-bezier(.39,.575,.565,1.000) both}
 @keyframes fade-in{0%{opacity:0}100%{opacity:1}}

/*Filosofia*//*Filosofia*//*Filosofia*//*Filosofia*//*Filosofia*//*Filosofia*//*Filosofia*//*Filosofia*/

.grid-filosofia{
	display: grid;
	grid-template:
	"header"        100px
	"section-a"    700px
	"section-b"		600px
	"footer" 		  100px
	;
}

.section-b{
	grid-area: section-b;
	background-color: #e1d3d2;
}

.h2f{
	margin-left: 7%;
	margin-top: 8%;
	font-size: 36px;
}

.pf{
	margin-left: 7%;
	margin-top: 3%;
	font-size: 24px;
	padding-right: 10%;
}


.fp1{
	width: 400px;
	height: 390px;
	float: left;
	margin-left: 2%;
	padding-right: 6%;
}

.fp2{
	float: left;
	width: 400px;
	height: 390px;
	margin-left: 15%;
}











/*Artistas*//*Artistas*//*Artistas*//*Artistas*//*Artistas*//*Artistas*//*Artistas*//*Artistas*/


.grid-artista{
	display: grid;
	grid-template:
	"header" 100px
	"section-ar" 500px
	"footer" 100px
	;
}


.section-ar{
	grid-area: section-ar;
	background-color: #e1d3d2;
}
















/*filippo*//*filippo*//*filippo*//*filippo*//*filippo*//*filippo*//*filippo*//*filippo*//*filippo*/


.grid-filippo{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-fil aside-fil" 950px
	"footer footer" 100px /
	auto 500px
	;
}


.section-fil{
	grid-area: section-fil;
	background-color: #e1d3d2;
}

.aside-fil{
	grid-area: aside-fil;
	background-color: #e1d3d2;
}















/*giacomo*//*giacomo*//*giacomo*//*giacomo*//*giacomo*//*giacomo*//*giacomo*//*giacomo*//*giacomo*/

.grid-giacomo{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-gia aside-gia" 950px
	"footer footer" 100px /
	auto 500px
	;
}

.section-gia{
	grid-area: section-gia;
	background-color: #e1d3d2;
}

.aside-gia{
	grid-area: aside-gia;
	background-color: #e1d3d2;
}


.h2gia{
	margin-left: 11%;
	margin-top: 12%;
	font-size: 36px;
}

.giap1{
	margin-top: 20%;
	margin-left: 10%;
}

.giap2{
	margin-top: 12%;
	margin-left: 10%;
}







/*Umberto*//*Umberto*//*Umberto*//*Umberto*//*Umberto*//*Umberto*//*Umberto*//*Umberto*//*Umberto*/

.grid-umberto{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-um aside-um" 950px
	"footer footer" 100px /
	auto 500px
	;
}

.section-um{
	grid-area: section-um;
	background-color: #e1d3d2;
}

.aside-um{
	grid-area: aside-um;
	background-color: #e1d3d2;
}

.h2um{
	margin-left: 11%;
	margin-top: 12%;
	font-size: 36px;
}

.ump1{
	margin-top: 20%;
	margin-left: 10%;
}

.ump2{
	margin-top: 12%;
	margin-left: 10%;
}

.cubo{
	width: 300px;
	height: 400px;
	background-color: orange;
}









/*carlo*//*carlo*//*carlo*//*carlo*//*carlo*//*carlo*//*carlo*//*carlo*//*carlo*//*carlo*//*carlo*/

.grid-carlo{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-ca aside-ca" 900px
	"footer footer" 100px /
	auto 500px
	;
}

.section-ca{
	grid-area: section-ca;
	background-color: #e1d3d2;
}

.aside-ca{
	grid-area: aside-ca;
	background-color: #e1d3d2;
}


















/*luigi*//*luigi*//*luigi*//*luigi*//*luigi*//*luigi*//*luigi*//*luigi*//*luigi*//*luigi*//*luigi*/


.grid-luigi{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-lui aside-lui" 900px
	"footer footer" 100px /
	auto 500px
	;
}


.section-lui{
	grid-area: section-lui;
	background-color: #e1d3d2;
}

.aside-lui{
	grid-area: aside-lui;
	background-color: #e1d3d2;
}

























/*galeria*//*galeria*//*galeria*//*galeria*//*galeria*//*galeria*//*galeria*//*galeria*//*galeria*/

.grid-galeria{
	display: grid;
	grid-template: 
	"header" 100px
	"section-aga" 550px
	"section-bga" 500px
	"footer" 100px
	;
}

.section-aga{
	grid-area: section-aga;
	background-color: #e1d3d2;
}

.section-bga{
	grid-area: section-bga;
	background-color: #e1d3d2;
}

.galeria{
	clear: left;
	margin-left: 1%;
	padding-top: 2%;
}

.h2ga{
	margin-left: 7%;
	margin-top: 7%;
	font-size: 36px;
}

#gallery{
	margin-left: 5%;
	padding-left: 15%;
}

.galeria{
	clear: left;
	margin-left: 2%;
	padding-top: 2%;
}

.obrasfloten{
	float: left;
}

.pg{
	margin-left: 6%;
	margin-top: 3%;
	font-size: 24px;
	padding-right: 10%;
}

.slide-in-blurred-left{animation:slide-in-blurred-left 1s cubic-bezier(.23,1.000,.32,1.000) both}
@keyframes slide-in-blurred-left{0%{transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform-origin:100% 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}

.slide-in-blurred-right{animation:slide-in-blurred-right 1s cubic-bezier(.23,1.000,.32,1.000) 1s both}
@keyframes slide-in-blurred-right{0%{transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform-origin:0 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}












/*Contacto*//*Contacto*//*Contacto*//*Contacto*//*Contacto*//*Contacto*//*Contacto*//*Contacto*//*Contacto*/

.grid-contacto{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-co aside-co" 800px
	"footer footer" 100px /
	800px auto
	;
}

.section-co{
	grid-area: section-co;
	background-color: #e1d3d2;
}

.aside-co{
	grid-area: aside-co;
	background-color: #e1d3d2;
}

.h2co{
	margin-left: 12%;
	margin-top: 12%;
	font-size: 36px;
}

.cajaf222{
	width: 700px;
	height: 350px;
	background-color: #264d4f;
}

#form222 {
	width: 100%;
}

label222{
	font-size: 21px;
	color: #000000;
	margin-left: 2%;
}


.cajas222{
	width: 96%;
	margin-left: 10%;
}
.nombre222{
	margin-top: 5%;
	float: left;
}

#nombre222{
	margin-top: 2%;
	margin-left: 10%;
}

#email222{
	margin-top: 2%;
	margin-left: 10%;
}

#mensaje222{
	margin-top: 2%;
	margin-left: 10%;
}

.escribir222{
	width: 96%;
	border: 1px solid #000;
	background-color: #FFF;
	color: #000;
	margin-left: 2%;
}

.boton222{
	margin-left: 10%;
	margin-top: 2%;
	width: 100px;
	height: 30px;
}

.tcyr{
	background-color: #c9b3b1;
}

.formulario{
	width: 400px;
	height: 600px;
	background-color: #c9b3b1;
	margin-left: 25%;
}

.float{
	float: left;
	margin-top: 10%;
}

.boton{
	margin-left: 70px;
	width: 100px;
	height: 30px;
	border-radius: 35px;
}

.nombre{
	margin-left: 10%;
	margin-top: 3%;
	font-size: 24px;
	padding-right: 10%;
	color: #000000;
}

.recuadro1{
	width: 200px;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 35px;
}

.recuadro2{
	width: 300px;
	margin-top: 5%;
	margin-left: 85px;
	border-radius: 35px;
}


.cop1{
	margin-top: 20%;
	width: 	400px;
}









/*resultados*//*resultados*//*resultados*//*resultados*//*resultados*//*resultados*//*resultados*//*resultados*/

.grid-resultados{
	display: grid;
	grid-template: 
	"header" 100px
	"section-re2" auto
	"section-re" auto
	"footer" 100px
	;
}

main{
	background-color: #e1d3d2;
}

.section-re{
	grid-area: section-re;
	background-color: #e1d3d2;
	margin-bottom: 50px;
}

.section-re2{
	grid-area: section-re2;
	background-color: #e1d3d2;
}

.cajafotos{
	background-color: yellow;
}

.fotoizquierda{
	margin-left: 25%;
	margin-top: 5%;
	float: left;
}
.fotoderecha{
	margin-right: 25%;
	margin-top: 5%;
	float: right;
}

.h2res{
	margin-left: 11%;
	margin-top: 5%;
	font-size: 36px;
}

.fotoparaabajo{
	margin-top: 20%;
}






/*registro y login*//*registro y login*//*registro y login*//*registro y login*//*registro y login*//*registro y login*//*registro y login*/

.grid-registroylogin{
	display: grid;
	grid-template: 
	"header header" 100px
	"section-registroylogin section-registroylogin2" 900px
	"footer footer" 100px /
	auto 700px
	;
}

.section-registroylogin{
	grid-area: section-registroylogin;
	background-color: #e1d3d2;
}

.section-registroylogin2{
	grid-area: section-registroylogin2;
	background-color: #e1d3d2;
}

.fotouser{
	background-color: yellow;
}

.cajaregistro{
	width: 400px;
	height: 680px;
	background-color: #c9b3b1;
	margin-left: 25%;
}

.cajaregistro2{
	width: 400px;
	height: 350px;
	background-color: #c9b3b1;
	margin-left: 25%;
}

.nombre{
	margin-left: 10%;
	margin-top: 3%;
	font-size: 24px;
	padding-right: 10%;
	color: #000000;
}

.recuadro01{
	width: 200px;
	margin-top: 5%;
	margin-left: 5%;
}

.registrateic{
	float: left;
	margin-left: 120px;
	margin-top: 2%;
}

.h2reylo{
	margin-left: 15%;
	margin-top: 12%;
	font-size: 36px;
}

.efectoreylo{-webkit-animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) both}

.h2reylo2{
	margin-left: 15%;
	font-size: 36px;
	margin-top: 5%;
}






/*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*//*Login*/

.grid-login{
	display: grid;
	grid-template: 
	"header" 100px
	"section-login" 1000px
	"footer" 100px
	;
}


.section-login{
	grid-area: section-login;
	background-color: #e1d3d2;
}

.video{
	float: left;
	margin-left: 3%;
	margin-top: 5%;
}

.videoG{
	float: left;
	margin-left: 28%;
	margin-top: 5%;
}

.pepe{
	margin-left: 5%;
}

.h2lo{
	margin-top: 5%;
	margin-left: 12%;
	font-size: 36px;
}

.slide-in-blurred-right2{animation:slide-in-blurred-right 1s cubic-bezier(.23,1.000,.32,1.000) 4s both}
@keyframes slide-in-blurred-right2{0%{transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform-origin:0 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}

.slide-in-blurred-left2{animation:slide-in-blurred-left 1s cubic-bezier(.23,1.000,.32,1.000) 3s both}
@keyframes slide-in-blurred-left{0%{transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform-origin:100% 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}
